{% extends 'student/base.html' %}

{% block title %}Course Topics{% endblock %}

{% block content %}
<div class="container py-4">
  <h3 class="mb-4">Course: {{ course.title }}</h3>

  {% for topic in topics %}
  <!-- Topic Card -->
  <div class="card shadow mt-3">
    <div class="card-header bg-success text-white">
      Topic {{ topic.topic_no }}
    </div>
    <div class="card-body">
      <figure>
        <blockquote class="blockquote">
          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0">{{ topic.title }}</p>
            <div>
              <!-- View Button -->
              <a href="{{ url_for('users.view_topic', topic_id=topic.id) }}" target="_blank"
                class="btn btn-secondary me-2">
                <i class="bi bi-eye"></i> View
              </a>
              <!-- Download Button -->
              <a href="{{ url_for('users.download_topic', topic_id=topic.id) }}" class="btn btn-secondary"
                style="background-color: gray;">
                <i class="bi bi-download"></i> Download
              </a>
            </div>
          </div>
        </blockquote>
        <figcaption class="blockquote-footer">
          {{ topic.subtitle }}
        </figcaption>
      </figure>
    </div>
  </div>


  <!-- Quiz Card for this topic -->
  <div class="card shadow mt-2">
    <div class="card-header bg-primary text-white">
      Quiz for Topic {{ topic.topic_no }}
    </div>
    <div class="card-body">
      <div class="quiz d-flex justify-content-between">
        <p class="text-muted">Test your understanding of this topic.</p>
        <a href="{{ url_for('users.quiz', topic_id=topic.id) }}">
          <button class="btn quiz-btn btn-primary">Start Quiz</button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}